body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: poppins;
}
header {
  border-bottom: 1px solid #eee2;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  position: relative;
  z-index: 100;
}
.banner {
  background-image: url(./assets/leaves.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  margin-top: -70px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.banner::after{
  content: '';
  position: absolute;
  inset: 0 0 0 0;
  background-image: url(./assets/leavesrest.png), url(./assets/leaf_5.png);
   background-repeat: no-repeat;
   background-position: center;
   pointer-events: none;
  background-size: cover;
}
.banner .content {
  font-size: 12px;
  text-transform: uppercase;
}
.banner .content div:nth-child(1) {
  font-size: 3em;
}
.banner .content div:nth-child(2) {
  font-size: 20em;
  font-weight: bold;
  color: #dae2db;
}

.banner .content div:nth-child(3) {
  text-align: center;
}
.banner .content div button {
  border: 1px solid #eee7;
  background-color: transparent;
  color: #eee;
  font-size: 20px;
  padding: 10px 20px;
  letter-spacing: 5px;
  cursor: pointer;
}
@media screen and (max-width: 1200px){
  .banner .content{
    font-size: 9px;
  }
}

@media screen and (max-width: 992px){
  .banner .content{
    font-size: 7px;
  }
}

@media screen and (max-width: 678px){
  .banner .content{
    font-size: 4px;
  }
}
